.root{
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    -swatch-neutral:        #E6E6E6;
    -swatch-primary-up:     #A8C0AD;
    -swatch-primary:        #C9E0CD;
    -swatch-primary-down:   #E9E0ED;
    -swatch-complement:     #E1E4CB;
    -swatch-accent:         #227722;
    -swatch-bright-accent:  #d84533;
    
    -fx-font-family: "Roboto";
}
/** 
    FIRST WE HAVE THE CONTROLS THAT THE DESKTOP JAVA FRAMEWORK
    MAY BE MAKING USE OF:
        .djf_top_toolbar: toolbar running the length of the top
        .djf_top_toolbar_pane: a pane in the top toolbar with buttons
        .djf_icon_button: buttons in the top toolbar panes
**/
.djf_top_toolbar {
    -fx-background-color:   rgb(193,222,230);
    -fx-border-color:       rgb(193,222,230);
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
.djf_toolbar_pane {
    -fx-background-color:   rgb(193,222,230);
    -fx-border-color:       rgb(0,0,0);
    -fx-border-width:       2;
    -fx-border-radius:      15;
    -fx-font-size: 14pt;
}
.djf_icon_button {
    -fx-background-color:   transparent;
    -fx-pref-height:        42;
    -fx-pref-width:         42;
    -fx-min-height:         42;
    -fx-min-width:          42;
    -fx-padding:            0;
}
.djf_check_box {
    -fx-background-color:   transparent;
    -fx-pref-height:        42;
    -fx-pref-width:         21;
    -fx-min-width:          21;
}
.djf_icon_button:hover {
    -fx-background-color: linear-gradient(-swatch-primary-down, -swatch-primary-up);    
}
.djf_welcome_banner {
    -fx-border-color:transparent;
    -fx-border-width:10;
}
.djf_welcome_header {
    -fx-font-size: 32pt;
    -fx-background-color: transparent;
}
.djf_welcome_recent_pane {
    -fx-padding: 20 20 20 20;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button {
    -fx-font-size: 14pt;
    -fx-underline: true;
    -fx-text-fill: blue;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button:hover {
    -fx-text-fill: magenta;
}
.djf_welcome_recent_button:pressed {
    -fx-text-fill: green;
}
.djf_welcome_new_pane {
    -fx-background-color:transparent;
}
.djf_welcome_new_button {
    -fx-font-size:20pt;
    -fx-background-color:transparent;
    -fx-border-width:2px;
    -fx-border-color:black;
    -fx-border-radius:15px;
}
.djf_welcome_new_button:hover{
    -fx-background-color:-swatch-primary;
}
.djf-welcome_new_button:pressed{
    -fx-background-color:-swatch-accent;
}

/**
    NEXT THE APP-SPECIFIC CONTROLS
**/

.golo_button_pane {
    -fx-background-color: rgb(193, 222, 230);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 0);
}
.golo_button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
}
.golo_button:pressed, .golo_button:pressed {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
    -fx-background-color:
        linear-gradient(#c9e0cd, #a9d0bd),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
.golo_button:hover :hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
}

.golo_canvas{
    -fx-border-color: black;
    -fx-background-color: rgb(255,255,255);
    -fx-padding: 5 5 5 5;
    
}

.golo_combo{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.tdlm_text_button{
    -fx-max-width:130px;
    -fx-min-height:50px;
    -fx-max-height:50px;
}
.tdlm_icon_button {
    -fx-min-width:100px;
    -fx-max-width:100px;
    -fx-min-height:50px;
    -fx-max-height:50px;
}
.golo_pane {
    -fx-background-color: rgb(197, 200, 204);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

.golo_box {
    -fx-background-color: rgb(197, 200, 204);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);

}

.tdlm_big_header, .tdlm_small_header, .tdlm_prompt, .tdlm_text_field {
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 10;
}
.tdlm_big_header {
    -fx-font-size: 24pt;
}
.tdlm_small_header {
    -fx-font-size: 16pt;
}
.tdlm_prompt {
    -fx-font-size: 14pt;
    -fx-min-width: 130px;
    -fx-max-width: 130px;
}
.tdlm_text_field {
    -fx-font-size: 14pt;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}
.golo_table {
    -fx-font-size: 12pt;
}
.golo_clear{
  /**  -fx-padding: 5; */
    -fx-font-size: 10pt;
}
.golo_cavas{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
  /**  -fx-padding: 5 5 5 5; */
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.golo_text{
    -fx-font-weight: bold;
    -fx-font-size: 10pt;

}
.column-header {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}
.table-row-cell:empty {
    -fx-background-color: #777777;
    -fx-border-color: #777777;
} 

.golo_column{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

/* FOR DIALOGS */
.tdlm_dialog_grid {
    -fx-background-color: -swatch-primary;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}
.tdlm_dialog_header {
    -fx-font-weight: bold;
    -fx-font-size: 18pt
}
.tdlm_dialog_prompt {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}
.tdlm_dialog_text_field, .tdlm_dialog_date_picker {
    -fx-min-width:250px;
    -fx-max-width:250px;
    -fx-min-height:50px;
    -fx-max-height:50px;
    -fx-font-weight:bold;
    -fx-font-size:14pt;
}
.tdlm_dialog_button {
    -fx-min-width:100px;
    -fx-max-width:100px;
    -fx-min-height:50px;
    -fx-max-height:50px;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}
.tooltip {
    -fx-font-size:14pt;
    -fx-font-weight:bold;
    -fx-background-radius: 50 50 50 50;
    -fx-background-color:-swatch-bright-accent;
}
.golo_arial{
    -fx-font-family: Arial;
}

